---
---

<section
	data-testid="about"
	id="about"
	class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-screen lg:flex-row"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-2xl text-orange lg:text-4xl">About me</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-orange"></span>
	</div>

	<div class="w-full text-justify text-white lg:w-1/2">
		<p class="mb-4">
			I specialize in developing end-to-end solutions that leverage data for intelligent decision-making. With expertise in machine learning, AI, and software engineering, I build products that transform data into actionable insights.
		</p>
		<p class="mb-4">
			My work spans across financial analysis, climate prediction, game strategy optimization, and other data-intensive applications. I strive to create systems that are not only analytically powerful but also accessible and user-friendly.
		</p>
		<p class="mb-4">
			I'm constantly exploring new technologies and methodologies to enhance my skills and deliver more effective solutions. Whether it's implementing complex algorithms, designing efficient data pipelines, or creating intuitive interfaces, I approach each project with a commitment to excellence and innovation.
		</p>
	</div>
</section>